:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
  }

body {
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 95vh;
}

#calculator-body {
    min-height: 600px;
    width: 550px;
    padding: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5%;
  }

#display{
    position: absolute;
    right: 5%;
    top: 3%;
    width: 90%;
    height: 20%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 32px;
    border-radius: 5px;
}

#buttons{
    background-color: black;
    position: absolute;
    right: 5%;
    top: 30%;
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

button:hover{
    background-color: black;
    color: white;
}
#special{
    display: flex;
    gap: 30px;
}
#reset{
    position: relative;
    top: 5%;
    height: 250%;
    width: 47.5%;
    left: 2.5%;
    background-color: darkmagenta;
}
#back{
    position: relative;
    top: 5%;
    height: 250%;
    width: 47.5%;
    right: 2.5%;
    background-color: darkmagenta;
}

#numPad{
    position: relative;
    height: 75%;
    width: 95%;
    left: 2.5%;
    top: 10%;
    display: flex;
    flex-direction: column;
}

#operators button{
    width: 23.8%;
    height: 150%;
    background-color: cyan;
}

#operators{
    margin-top: 10px;
    margin-bottom: 30px;
}

#numbers button{
    height: 70%;
    width: 32%;
    background-color: darkorange;
}